/*
	Background Image Acquired from wallhaven.cc
*/
* {
	padding:0px;
	margin:0px;
	color:rgb(255,255,255);
}

body {
	background: rgb(0,0,0) url("../../images/dark-pattern.jpg") no-repeat;
	background-size:cover;
}

.title{
	font-size:40pt;
	font-family:helvetica;
}

.menu{

}

.acc{

}

.underln {
    border: 0;
    height: 1px;
    width:500px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}