body{
    font-family: 'Abel', sans-serif;
    border: 1px solid #ff4d1e;
    /*border-radius: 10px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background-color: #f4bd39;*/
    color: #9c2c12;
}
header{
    padding-bottom: 10px;
    text-align: center;
}
hr{
    border: 0;
    border-top: 2px solid #ff4d1e;
    max-width:40%;

}
a{
    color: inherit;
    display: block;
}
a:hover,p:hover,li:hover{
    font-weight: bold;
}
/*img{*/
    /*border: 1px solid #ff4d1e;*/
    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/
    /*border-radius: 20px;*/
/*}*/
p{
    display: inline-block;
    text-align: left;
    max-width: 70%;

}
ul{
    padding-left: 0;
}
li{
    list-style-type: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}
.entry{
    margin-bottom: 5px;
}
.entry-link{
    vertical-align: middle;
    position: relative;
    top: 9px;
    text-decoration: none !important;
}
.article{
    padding-top: 10px;
    text-align: center;
}
.button{
    min-width: 120px;
    max-width: 120px;
    min-height:40px;
    max-height:40px;
    vertical-align: middle;
    border: 2px solid #ff9200;
    border-radius: 10px;

    box-shadow: black 0 1px 0;
}
.button:hover{
    /*background: rgba(255, 109, 0, 0.75);*/
    border: 2px solid orangered;
    box-shadow: orangered 0 1px 0;
    /*background: #ff530b;*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#e38a52), to(#c2732e));*/
    cursor: pointer;
}