body{
    font-family: 'Abel', sans-serif;
    border: 1px solid #ff4d1e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #9c2c12;
}
header{
    padding-bottom: 10px;
    text-align: center;
}
hr{
    border: 0;
    border-top: 2px solid #ff4d1e;
    max-width:40%;

}
a{
    color: inherit;
    display: block;
}
a:hover,p:hover,li:hover{
    font-weight: bold;
}
/*img{*/
    /*border: 1px solid #ff4d1e;*/
    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/
    /*border-radius: 20px;*/
/*}*/
p{
    max-width: 40%;
    margin: auto;
    text-align: center;
}
ul{
    padding-left: 0;
}
li{
    list-style-type: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    /*width: fit-content;*/
    margin: 0 auto;
}
.entry{
    margin-bottom: 5px;
}
.entry-link{
    vertical-align: middle;
    position: relative;
    top: 9px;
    text-decoration: none !important;
}
.article{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.button{
    min-width: 120px;
    max-width: 120px;
    min-height:40px;
    max-height:40px;
    vertical-align: middle;
    border: 2px solid #ff9200;
    border-radius: 10px;
    box-shadow: black 0 1px 0;
}
.button:hover{
    border: 2px solid orangered;
    box-shadow: orangered 0 1px 0;
    cursor: pointer;
}
.hide-entry-div{
    margin:0 auto;
    text-align: right;
    max-width: 40%;
}
.hide-entry-text{
    cursor: pointer;
}
.show-entry-text{
    cursor: pointer;
}
#top{
    position: fixed;
    bottom: 10%;
    right: 10%;
    text-align: center;
    border: 2px solid black;
    padding-top: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #050706;
    box-shadow: none;
}
.entries{
    width:10%;
    display: inline-block;
    vertical-align: top;
}