/*
    Parsed Top Down 
    Specificity
    Cascade


    General Selectors
    | |
    | |
    | |
     V
    Specific Selectors

 */

/*
    Star selector selects every element
    It can be slightly inefficient

    Used for lightweight "Reset" Styles
 */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

html,
body {
    /*
        * Percentage Units in CSS get their value by referencing the parent e
    */

    height: 100%

}



html {
}

body {
}

.blue-box {

    /*
        Position
        *Absolute
        *Relative
        *Static(Default)
        *Fixed
            *Elements are positioned fixed in the Viewport

        *All positioning except Static respond to Top, Right, Bottom, Left properties
    */




    /*
    position: absolute;
    */




    /*
        Floated elements, Block, Inline and Inline-Block all become Block 
        Float overrides the Display property
        TODO: Revisit to talk about collapsing elements;

    */
    float: left;



    /*
        *Inline elements cannot accept height and width properties if they are empty
        *Content informs the size of inline elements
    */

    display: inline;

/*
    *Margin: auto; centers block elements with a defined width. It will automatically center it by the hard
    coded width.
*/

    margin: auto;

    background: blue;


}
}
