.home {
	font-family: "Times New Roman", Times, serif;
}

.about {
	background: white;
}

h1{
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-size: 45px;
	margin:30px;
}

.info {
	font-size: 30px;
	display: inline-block;
	padding: 10px;
	margin:20px;
}

.pagename {
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	margin: 30px;
	border: 2px solid black;
	display: inline-block;
}
.empty{
	margin: 50px;
}
.images{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #a1a1a1; 
}
.description{
	margin: 30px;
	font-size: 25px;
	text-align: center;
}
.pdf{
	font-size: 100px;
}