.home {
	font-family: "Times New Roman", Times, serif;
}

.about {
	background: white;
}

h1{
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-size: 45px;
	margin:30px;
}

.info {
	font-size: 30px;
	display: inline-block;
	padding: 10px;
	margin:20px;
}

.mainpage {
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	margin: 30px;
}
.seachpage {
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	margin: 30px;
}
.areapage {
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	margin: 30px;
}
.empty{
	margin: 50px;
}