* {
    margin: 0;
    padding: 0;
}
.scene1 {
    margin: 70px 0 0;
    background: #000 url(../images/road-at-twilight.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.scene2 {
    margin: 70px 0 0;
    background: #000 url(../images/river-at-twilight.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.scene3 {
    margin: 70px 0 0;
    background: #000 url(../images/three-brothers-river-crossing.jpg) no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.scene4 {
    margin: auto;
    background-image: #000 url();
}
.scene5 {
    margin: auto;
    background-image: #000 url();
}
body {
    width: 100%;
}
.container1, .container2, .container3 {
    height: 100%;
}
