/*
    Blue Box States
 */
.blue-box
{
    position: relative;
    float: left;
    margin: 0 20px 20px 0;
    
    cursor: pointer;
}

.blue-box-default
{

}

.blue-box-active
{
    background-color: #f00;
}

.blue-box-disabled
{
    opacity: 0.25;
    cursor: default;
}

/*
    Blue Box State Labels
 */

.state-label
{
    display: none
}

/*
    Page State
 */

.page-state-default .state-default,
.page-state-active .state-active,
.page-state-disabled .state-disabled 
{
    display: block;
}

.page-state-default .blue-box-state
{
    cursor: pointer;
}

.page-state-active .blue-box-state
{
    background-color: #f00;
}

.page-state-disabled .blue-box-state
{
    opacity: 0.25;
    cursor: pointer;    
}


/*
    Misc
 */
.css-example-rule
{
    clear: both;
    margin: 10px 0;
}
