.blue-box-fixed
{
    position: fixed;
    top: 50%; left: 50%;

    /* Transform centering */
    transform: translate(-50%, -50%);

    /* Shorthand margin centering*/
    /*margin: -50px 0 0 -50px;*/

    /* Longhand margin centering */
    /*margin-top: -50px;*/
    /*margin-left: -50px;*/
}
