html{
  font-family: sans-serif;
  background-image: 
    linear-gradient(
      rgba(25, 0, 0, 0.7),
      rgba(0, 0, 25, 0.7)
    ),
    url(images/bright_cross.jpg);
}

.matthew{
  background-color: white;
  color: lightblue;
}

.heading{
  color: lightblue;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}

.heading2{
  color: lightblue;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

.heading3{
  color: lightblue;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

.text{
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

.drop_menu{
  background:#005555;
  padding:0;
  margin:0;
  list-style-type:none;
  height:30px;
}

.drop_menu li{
  float:left;
}

.drop_menu li a{
  padding:9px 20px;
  display:block;
  color:#fff;
  text-decoration:none;
  font:12px arial, verdana, sans-serif;
}

.drop_menu ul{
  position:absolute;
  left:-9999px;
  top:-9999px;
  list-style-type:none;
}

.drop_menu li:hover{
  position:relative; background:#5FD367;
}

.drop_menu li:hover ul{
  left:0px;
  top:30px;
  background:#5FD367;
  padding:0px;
}
.drop_menu li:hover ul li a{
  padding:5px;
  display:block;
  width:168px;
  text-indent:15px;
  background-color:#5FD367;
}

.drop_menu li:hover ul li a:hover{
  background:#005555;
}

.tabs_bar{
    font-family: "sans-serif";
    width: 100%;
    margin-left: auto;
  margin-right: auto;
  width: 80em;
  font-size: 10px;
}

.tabs_list{
    overflow: hidden;
}

.tabs_list>li{
    display: inline-block;
}

.tabs_list>li a{
    padding: 0px 5px;
    font-size: 30px;
}

.tab_body{
    width: 100%;
    margin: 10px auto 0px;
}

.box{
  background: #FFF;
    display: none;
}

.box:target{
    display: block;
}
.tab_body_list{
    overflow: hidden;
}

.tab_body_list>li{
    display: inline-block;
}

a:link{
    color: lightblue;
}

a:visited{
    color: lightgreen;
}

a:hover{
    color: yellow;
}

a:active{
    color: white;
}