* {
    margin: 0; 
    padding: 0;
}
html {
    background: #EAE2FF;
}
body {
    margin: 0px auto;
    width: 100%;
    min-width: 700px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.2em;
}
h2, h3, h4, h5, h6 {
    font-family: monospace;
    text-align: left;
    margin-bottom: 0.5em;
}

code {
    padding: 2px;
    font-family: monospace;
    background: #ccc;
}
header {
    height: 150px;
    width: 100%;
}

header h1 {
    font-family: monospace;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 4em;
    line-height: 150px;
    text-align: center;
    background: #E3DBF7;
}
article {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}
ul {
    padding-left: 1em;
    background: #ccc;
    display: inline-block;
}
.mainUl {
    padding: 10px 10px 10px 30px;
    margin-bottom: 20px;
}
li {
    padding-bottom: 0.2em;
    font-style: italic;
}
.clearMe {
    clear: both;   
}
.boxList {
    width: 300px;
    height: 200px;
    overflow: auto;
    float: left;
    padding: 1em;
    background: #FFFC9C;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px gray;
    max-width: 300px;
}
section p {
    margin-bottom: 10px;
}
    
.button {
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    border: 1px solid black;
    background: #b8b8b8;
    box-shadow: 2px 2px 5px #000;
}
.profQuote {
    display: inline-block;
    font-style: italic;
    margin: 20px auto;
    padding: 5px 10px;
    background: #cca;
}

a .button {
    background: #FFE8BA;
}
a .button:hover {
    background: #5E00FF;
}
.backBtn {
    float: right;
    margin: 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    background: #aaa;
    box-shadow: 2px 2px 5px #000;
    font-variant: small-caps;
    border-radius: 10px;
}
.backBtn:hover {
    background: #5E00FF;
}
section {
    padding: 20px;
    text-align: justify;
    margin: 10px 0 0 0;
    background: #E3DBF7;
}

footer {
    clear: both;
    height: 100px;
    
}
#contact {
    display: none;
    font-size: 1.4em;
    line-height: 100px;
    text-align: center;
    font-variant: small-caps;
}

a:link, a:visited {
    color: black;
    
}
address {
    text-align: left;   
}
