* {
    margin: 0;
    padding: 0;
}
html {
    background: #EAE2FF;   
}
.mainH {
    margin: 0;
    font-size: 3em;
    text-align: center;
    background: #718BB2;
    line-height: 200px;
    font-family: monospace;
}
.flip, .flip2, .flip3, .flip4, .flip5, .flip6, .flip7, .flip8, .flip9, .flip10, .flip11, .flip12 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: absolute;
}
p {
    color: black;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    line-height: 150px;
    font-family : monospace;
}
#contentPost {
    display: none;
    color: crimson;
    text-align: center;
    font-size: 5em;
    margin-top: 200px;
    font-family : monospace;
}