.home {
	font-family: "Times New Roman", Times, serif;
}

.about {
	background-image: url("http://www.pageresource.com/wallpapers/wallpaper/anime-windows-pixel-other-hyper-police_1387780.jpg");
	background-repeat: repeat;
    background-position: center;
}


.image {
    position: absolute;
    display: block;
    margin: auto;
    top: 10px;
    left: 0;
    right: 0;
}

.mainFolder{
    position: fixed;
    display: inline-block;
    top: 10%;
    left: 20%;
}

.leave {
    background-color: black;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    position: fixed;
    left: 10px;
    top: 10px;
}

.internet{
    position:fixed;
    display: inline-block;
    bottom: 30%;
    left: 10%;
}

.recycleBin{
    position:fixed;
    display: inline-block;
    top: 50px;
    left: 10%;
}


* 
{
    box-sizing: border-box;
    font-family: arial;
}

html, body
{
    min-height: 100%;

}

body
{
    margin: 40px;
}

.heading
{
    margin: 0 0 25px;
}



.btn
{
    position: fixed;
    display: inline-block;
    top: 25%;
    left: 40%;
    cursor: pointer;
}
.btn:active
{
    background: rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.25);
    outline: none;
}

/*
    Lightbox
 */
.lightbox
{
    /* Position the modal in the center of the page */
    position: absolute; /* fixed */
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    /* Styling for the Modal */
    width: 80%;
    max-width: 720px;
    min-width: 240px;
    padding: 10px;
    background: #fff;
    border-radius: 3px;

    /* Hide Modals By Default */
    display: none;

    /* Modals sit on top of Glass */
    z-index: 90211;
}
.lightbox.active
{
    /* Active lightbox is visible */
    display: block;
}

.lightbox-controls
{
    margin-top: 10px;
    clear: both;
}
    .lightbox-controls .previous
    {
        position: fixed;
        top: 95%;
        left: 0%;
        background-color: #000000;
        color: #FFFFFF;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
    }
    .lightbox-controls .next
    {
        position: fixed;
        top: 95%;
        left: 90%;
        background-color: #000000;
        color: #FFFFFF;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
    }

.lightbox-close-button
{
    position: absolute;
    top: -12px; right: -12px;
    height: 29px; width: 29px;
    border-radius: 50%;
    transform: rotate(45deg);
    text-align: center;
    line-height: 28px;
    padding: 0;
    font-size: 21px;
    background: #333;
    color: #fff;
}

.lightbox-label
{
    line-height: 34px;
    text-align: center;
}
.lightbox-item
{
    position: absolute;
    top: 0; left: 0;
    display: none;
}
.lightbox-item.active
{
    position: relative;
    display: block;
}
.lightbox-image
{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 3px;
}

/*
    Glass
 */
.glass
{
    /* Glass Covers Everything (except the Modal) */
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.25);

    /* Hide Modal Glass By Default */
    display: none;

    /* Glass sits on top of everything else */
    z-index: 90210;
}
.glass.active
{
    /* When Glass is showing */
    display: block;
}
