.home {
	font-family: "Times New Roman", Times, serif;
}

.about {
	background-image: url("http://www.pageresource.com/wallpapers/wallpaper/anime-windows-pixel-other-hyper-police_1387780.jpg");
	background-repeat: repeat;
    background-position: center;
}

/*.ab .sce-1*/

.header1 {
	background: black;
	background-image: url("http://fc00.deviantart.net/fs70/f/2013/160/4/6/persona_3_p3p_x_persona_4_id_by_onewingedangel26-d68da41.png");
	background-size: 1350px 500px;
	background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px white;
    display: block;
    font-style: italic;
	font-size: 65px;
	margin: 10px;
	color: blue;
	text-align: center;
	text-shadow: 7px 7px 7px white;


}
.mainButton{
    background-color: #000000;
    color: #FFFFFF;
    padding: 50px;
    border-radius: 10px;
    font-size: 50px;
    position: absolute;
}

.nextButton{
    background-color: #000000;
    color: #FFFFFF;
    padding: 50px;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
}

.continueButton{
	position: fixed;
	top: 10%;
	left: 0%;
}

.leave {
	background-color: black;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    position: absolute;
}


.buttonPos{
	text-align: center;
	margin: auto;
	position: fixed;
	top: 40%;
	left: 43%;
}

.image {
	position: absolute;
	display: block;
	margin: auto;
	left: 0;
	right: 0;
}

.recycleBin{
	position:fixed;
	display: inline-block;
	top: 50px;
	left: 10%;
}

.internet{
	position:fixed;
	display: inline-block;
	bottom: 30%;
	left: 10%;
}

.gamesFolder{
	position:fixed;
	display: inline-block;
	top: 300px;
	left: 20%;
}

.imageFolder{
	position:fixed;
	display: inline-block;
	top: 300px;
	left: 30%;
}

.mainFolder{
	position: fixed;
	display: inline-block;
	top: 10%;
	left: 20%;
}

.rpgIcon{
	position: fixed;
	display: inline-block;
	top: 20%;
	left: 37%;
}

.aaIcon{
	position: fixed;
	display: inline-block;
	top: 20%;
	left: 45%;	
}

.horrorIcon{
	position: fixed;
	display: inline-block;
	top: 20%;
	left: 53%;
}

.gameStart{
	position: fixed;
	display: inline-block;
	top: 40%;
	left: 37%;
}

.gameReturn{
	position: fixed;
	display: inline-block;
	top: 55%;
	left: 38%;
}

.arrowUp{
	position: fixed;
	display: inline-block;
	top: 1%;
	left: 40%;	
}

.arrowDown{
	position: fixed;
	display: inline-block;
	top: 12%;
	left: 40%;	
}

.arrowLeft{
	position: fixed;
	display: inline-block;
	top: 6%;
	left: 35%;	
}

.arrowRight{
	position: fixed;
	display: inline-block;
	top: 6%;
	left: 45%;	
}

.attack{
	position: fixed;
	display: inline-block;
	top: 1%;
	left: 12%;
	border-style: solid;
	border-radius: 5px;
	border-color: gray;	
}
.skill{
	position: fixed;
	display: inline-block;
	top: 13%;
	left: 12%;
	border-style: solid;
	border-radius: 5px;
	border-color: gray;		
}
.flee{
	position: fixed;
	display: inline-block;
	top: 25%;
	left: 12%;
	border-style: solid;
	border-radius: 5px;
	border-color: gray;	
}

.Quit{
	position: fixed;
	display: inline-block;
	top: 50%;
	left: 70%;
	border-style: solid;
	border-radius: 5px;
	border-color: gray;	
}

.Restart{
	position: fixed;
	display: inline-block;
	top: 50%;
	left: 12%;
	border-style: solid;
	border-radius: 5px;
	border-color: gray;	
}

.chrome{
	position: fixed;
	display: inline-block;
	top: 1%;
	left: 10%;	
}

.musicPlayer{
	position: fixed;
	top: 95%;

}