html, body{
	line-height:1.5;
	height:100%;
	width:100%;
}
.wireframe{
	width:80%;
	min-width:900px;
	position:relative;
	left:10%;
}

.box{
	width:90%;
	min-width:900px;
	position:relative;
	padding:5px;
	left:5%;
	font-family: verdana;
	text-align:justify;
}
