/* ***************************** RESET ********************************************************************/
html,
body
{
    /*
        * Percentage Units in CSS get their value by referencing the parent element's value
     */
    height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.5;
}
ol, ul {
    list-style: none;
}

a{
    text-decoration: none;
    color:black;
}

a:visited{
    color:black;
}
/* ***************************** RESET ********************************************************************/
.home-but{
    font-size:24pt;
    width:60%;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    height:10%;
}

body{
    background-image: url("../images/bkround.jpg");
    background-size:100%;
    color:white;
}

.field{
    width:20%;
    background-color:rgba(0,0,0,0.6);
    font-size:14pt;
    position:absolute;
    left:60%;
    top:0px;
    height:10%;
}

.location{
    width:20%;
    background-color:rgba(0,0,0,0.6);
    font-size:14pt;
    height:10%;
    position:absolute;
    top:0px;
    left:80%;
}

.header{
    width:100%;
    height:10%;
    font-family: verdana;
}

.acc-icon{
    width:25px;
    float:right;
}

.account{
    width:20%;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    top:10%;
    height:5%;
    font-family:verdana;
    font-size:14pt;
}

.search{
    width:20%;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    top:10%;
    left:20%;
    font-family:verdana;
    height:5%;
    text-align:center;
}

.srch{
    height:37px;
}

.help{
    width:20%;
    height:20%;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    top:10%;
    left:40%;
    font-family:verdana;
    height:5%;
}

.hlp{
    height:37px;
    position:absolute;
    left:15%;
}

.extras{
    width:20%;
    height:20%;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    top:10%;
    left:60%;
    font-family:verdana;
    height:5%;
}

.extra{
    height:37px;
    position:absolute;
    left:20%;
}

.calendar{
    width:20%;
    height:20%;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    top:10%;
    left:80%;
    font-family:verdana;
    height:5%;
}

.cal-map{
    height:40px;
    position:absolute;
    left:27%;
}

.link{
    width:100%;
    height:7%;
    min-height:50px;
    display:block;
    text-align:center;
    font-family:verdana;
    font-size:12pt;

}

.container{
    position:absolute;
    width:12%;
    height:60%;
    top:20%;
    overflow:hidden;
    background-color:rgba(0,0,0,0.7);
}

.content{
    width:70%;
    height:70%;
    position:absolute;
    left:25%;
    top:25%;
    background-color:rgba(0,0,0,0.7);
    overflow: scroll;
    font-size:20pt;
    font-family: verdana;
}

.s-box{
    font-size:12pt;
    display:inline-block;
    width:12%;

}


.show{
    width:100%;
    position:absolute;
    top:40%;
}































