*{
    overflow-x:hidden;
}

body {
	margin:50px;
  	font-weight: 400;
  	font-style: normal;
  	font-family: 'Roboto Slab', serif;
  	color: #000;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased !important;
}

p{
	line-height:150%;
	width:95%;
}

h1{
	font-weight: 300;
	text-transform:uppercase;
	color:#FF9B2E;
	font-size:40px;
	float:left;
	width:35%;
	line-height:90%;
	overflow-y:hidden;
}

h2{
	font-weight:700;
	font-size:20px;
	color:#FF9B2E;
	text-transform:uppercase;
}

ul{
	padding-left:0;
}

li{
	padding-bottom:10px;
	font-weight:700;
}

.key-ingredient{
	color:red;
}

header{
	border-bottom:1px dotted red;
	margin-bottom:20px;
}

header > span{
	font-weight:700;
	float:right;
	display:inline-block;
	padding:50px;
	width:50%;
	font-size:.8em;
}

.main-column span{
	color:#FF9B2E;
	text-transform:uppercase;
	font-weight:700;
}

hr{
	margin:10px;
	border: 1px dotted #000;
	text-align:center;
}

aside img{
    display: block;
    margin: 0 auto;
}

aside{
	float:left;
	width:35%;
	margin-right:20px;
}

figure{
	width:40%;
	margin-left:0;
	padding-left:0;
}

figure img{
	width:60%;
}

figcaption{
	font-size:.8em;
	text-transform:uppercase;
	text-align:center;
}

.basic-info{
	margin-bottom:50px;
}

.basic-info span{
	display:block;
	font-size:.5em;
}

.basic-info dd{
	color:#666;
	text-transform:uppercase;
	font-size:1.2em;
	margin-bottom:20px;
	margin-left:0px;
	font-weight:700;
}

.basic-info dt{
	text-transform:uppercase;
	font-size:.8em;
	font-weight:700;
}

.basic-info dl{
	list-style:none;
	padding:0;
}

.nutrition dl{
	list-style:none;
	display:inline;
	margin-bottom:50px;
}

.nutrition dt{
	text-transform:uppercase;
	font-size:.8em;
	font-weight:700;
	display:inline;
}

.nutrition dd{
	color:#666;
	text-transform:uppercase;
	font-size:1.5em;
	margin-right:20px;
	margin-bottom:50px;
	display:inline;
}

table{
	margin-top:20px;
	font-weight:700;
	font-size:.8em;
	border-bottom:1px dotted black;
}

th{
	text-transform:uppercase;
	border-bottom:1px dotted black;
	text-align:left;
}

td span{
	color:red;
	margin-left:150px;
}

td{
	padding-right:20px;
	padding-bottom:10px;
}

.nutrition aside{
	margin-top:20px;
	font-size: .7em;
	font-style:italic;
	width:100%;
	word-wrap:none;
}