/*
Yo, you need a general idea before you go nuts creating and designing shit. you dont even know what links you want lol --Levi M.
*/
.week_link{
	position:relative;
	height:70%;
	width:30%;
	top:13%;
	left:37px;
	padding:3px;
	margin-left:5px;
	display:inline-block;
	background-color: rgba(217,15,139,0.2);
	text-decoration: none;
	font-size:20pt;
	color:white;
	text-align: center;
	border-style:solid;
	border-width:3px;
	border-color:black;
	border-radius:10px;
	box-shadow:5px 5px 0px black;
}

.home_title{
	background-color:rgba(255,255,255,0.8);
	position:relative;
	width:70%;
	left:78px;
	text-align:center;
	font-size:36pt;
	color:white;


}

.page_bkround{
	background-color: #f13569;
	background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(rgb(0, 0, 0)), to(rgb(241, 53, 105)));
	background-image: -webkit-radial-gradient(50% 50%, rgb(241, 53, 105), rgb(0, 0, 0));
	background-image: -moz-radial-gradient(50% 50%, rgb(241, 53, 105), rgb(0, 0, 0));
	background-image: -o-radial-gradient(50% 50%, rgb(241, 53, 105), rgb(0, 0, 0));
	background-image: -ms-radial-gradient(50% 50%, rgb(241, 53, 105), rgb(0, 0, 0));
	background-image: radial-gradient(50% 50%, rgb(241, 53, 105), rgb(0, 0, 0));
}

.week_center{
	position:relative;
	top:32px;
	padding:2px;
}

.week_link:visited{
	text-decoration: none;
}

.row{
	position:relative;
	top:125px;
	margin-top:3px;
	left:3%;
	height:125px;
	width:1240px;
	display:block;
}