/*
Yo, you need a general idea before you go nuts creating and designing shit. you dont even know what links you want lol --Levi M.
*/
.week_link{
	position:relative;
	height:100%;
	width:30%;
	padding:3px;
	margin-left:5px;
	background-color:rgba(220,175,65,0.6);
}

.column{
	position:absolute;
	height:668px;
	width:340px;
	display:inline;
	background-color:rgba(220,175,156,0.6);
}

.second{
	left:350px;
}

.third{
	left:700px;
}