/*
Yo, you need a general idea before you go nuts creating and designing shit. you dont even know what links you want lol --Levi M.
*/
.week_link{
	position:relative;
	height:100%;
	width:30%;
	padding:3px;
	margin-left:5px;
	background-color:rgba(220,175,65,0.6);
}

.row{
	position:absolute;
	height:330px;
	width:1240px;
	display:inline;
	background-color:rgba(220,175,156,0.6);
}