/* using this to */
/*div {
	border: 3px solid pink;
}
*/
.top{
	margin-left: 20px;
}
/*generic to shfit*/
.column-left{
	float:left;
	width: 500px;
	min-width: 50px;	
	max-height: 100px;
	padding: 10px 10px 50px 10px;
	
}

/*generic for shifting stuff to the right*/
.column-right{
	float:right;
	width: 300px;
	max-height: 100px;
	padding: 10px 20px 54px 10px;	
}



/*using clear so that hr takes up a new line*/
hr{
	border-style: dotted;
	clear: both;
}
/*used instead of the horizontal line bc i can get the line from the divs*/
br{
	clear:both;
}

/*specify the width and height of the image*/
.prep-image{
	max-width: 500px;
	max-height: 500px;
}

/*put the list on the right*/
.prep-list{
	margin-left: 500px;
	margin-top:35px;
	text-align: left;
}

.margin-left{
	margin-left: 50px;

}
.ingred-list{
	padding-bottom: 300px;
}

.instructions{
	width: 800px;
}

.instructions br{
	line-height: 50px;
}

.info{
	padding: 100px;
}




