.title
{
	color: blue;
	text-align: left;
}

.top p
{
	text-align: right;
	color: pink;
}

hr
{
 	border-bottom-style: dotted;
 	color: lightpink;
}


.col-left
{
	width: 300px;
	float: left;
}

.col-right
{
	width: 500px;
	float: left;
}

.recipe-hr,
.clear-float
{
	clear: both;
}

.flexible-image
{
	max-width: 100%;
	height: auto;
}


