.home {
	background: white;
	font-family:sans-serif;
}


/*
.heading{
	color: #888;
	font-size: 100px;
	margin: 0;

}*/
/*.image{
	padding-top: 100px;
}*/

header h2{
	float:left;
	width:300px;
	margin:11px;
}

header h3{
	float:left;
	width:300px;
	margin:11px;
}




/*.heading {
	font-family: Georgia;
	font-size: 250%;
	text-shadow: 10px, 10px, 0px #000000;
	padding-bottom: 10px;
	color: #666666;
	
}*/

div+img{
	float:left;
	margin-top:250px;
}

.column{
	float:right;
	width: 300px;
	margin:11px;
	/*right: 150px ;
	text-align: center;
	margin-left: 450px;*/
	margin-right: 350px;
}





