body {
	font: "Archer A";
}

h3 {
	width: 200px;
	padding-top: 30px;
	font-weight: 50;
	color: #8B4513;
	display: block;
}

.padding {
	padding-left: 10px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li { /* this list is for the ingredients */
	font-weight: bold;
	font-size: 17;
	color: #585858; 
	padding-bottom: 20px;
}
.li2 {  /* this list is for the instructions */
	font-size: 17;
	padding-bottom: 8px;

}

.fonttricks { /* this is specifically for the paragraph text under instructions */
	font-weight: bold;
	color: #8B0000;
}

.container { /* For the section with title and motto */
	width: 1200px;
	margin: auto;
}

.container2{ /* For the section with the cookie image */
	width: 1200px;
	height: 200px;
	display: block;
	
}
.container3 { /* For images and prep time, procedures, etc... */
	width: 1200px;
	height:400px;
	display: block;
	
}

.container4 { /* For the section with ingreidents and instructions */
	width: 1200px;
	height: 500px;
	display: block;
	
}

.containerline { /*For the section with the Hr line */
	margin: auto;
	width: 1200px;
	height: 30px;
	display: block;
}


.Brand {
	font: "Archer B";
	font: 24;
	font-weight: 500;
	color: #8B4513;
	width: 350px;
	height: 100px;
	display: inline-block;
	float: left;
}

.Motto {
	font: "Archer B";
	font-size: 16;
	font-style: bold;
	color: #B8B8B8;
	width:600px;
	height: 100px;
	display: inline-block;
	float: right;
}
.headerline {
	background-color: #FF9900;
	bottom: 250px;
	display: block;

}

.image {
	width: 450px;
	height: 400px; 
	float: left;
	display: inline-block;
}


.containerlist {
	width: 150px;
	height: 250px;
	float: left;
	display: inline-block;
}


.preptime{
	color: #585858;
	font-weight: 600; 
	font-size: 18;
	padding-top: 35px;
}
.cookinglist {
	color: #B8B8B8;
	font-weight: 600;
	font-size: 25;

}

.ingredients { /* block used to hold the ingreidents */
	width: 400px;
	height: 500px;
	display: block;
	float: left;

}
.instructions {
	width: 675px;
	height: 600px;
	padding-left: 10px;
	display: block;
	float: left;

}