* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  font-family: 'Dosis', Arial;


}

/* Container for the entire website */



.jumbo-container {
min-width: 1000px;
max-width: 1280px;

min-height: 600px;
max-height: 800px;


display: block
}


/* Container within the jumbo-container, that is used for the header picture  */
.header-container {
position: relative;
display: block;
width: 100%;
height: 58%;


background-image: url("../final/images/pork-ramen.jpg");
}

/* A container below the header block, that will encase all the content of questions etc. */
.body-container {

position: relative;
display: block;
width: 100%;
height: 100%;
padding: 20px 0px 20px 0px; 
min-width: 1000px;
max-width: 1280px;

min-height: 600px;
max-height: 800px;
}
/* container within the body-container that will hold the title of the website ('Personality Quiz') */
.title-container {
display: inline-block;
width: 100%;
text-align: center;
padding-bottom: 20px;

font-size: 35px;
color: #A52A2A;
min-width: 1000px;
max-width: 1280px;


}
/* container within the body-container that will hold the title ('Soo... What Food are You?') */

.title-container2 {
display: inline-block;
width: 100%;
text-align: center;

font-size: 62px;
color: #A52A2A;
min-width: 1000px;
max-width: 1280px;

}
/*
Top Left Bottom Right
*/

.content-container {
display: block;

width: 100%;
height: 125%;
padding-top: 115px;
min-width: 1000px;
max-width: 1280px;

min-height: 600px;
max-height: 800px;
}

.question1 {
display: inline-block;
width: 90%;


text-align: center;

font-size: 35px; 
color: #FFFAF0;
background-color: #B22222;

min-width: 1000px;
max-width: 1280px;
border-radius: 25px;
margin-left:5%;


}
/* This is the code for image box for question 1 */
.image-container {
display: block;
width: 73.6%;
height: 51.3%;

margin-left: 5%;
padding-top: 20px;
padding-left: 16.4%;
border-radius: 25px;

background-color: #B22222;
/*min-width: 1000px;
max-width: 1280px;

min-height: 600px;
max-height: 800px; */
}

/*This is the code for image box for question 2 */
.image-container-2 {
display: block;
width: 73.6%;
height: 51.3%;

margin-left: 5%;
padding-top: 20px;
padding-left: 16.4%;
border-radius: 25px;

background-color: #291400;
}

.image-container-3 {
display: block;
width: 73.6%;
height: 51.3%;

margin-left: 5%;
padding-top: 20px;
padding-left: 16.4%;
border-radius: 25px;

background-color: #000066;
}




.inquiry {
display: block;
width: 90%;
height: 42%;
margin-left: 5%;
border-radius: 25px;


text-align: center;

color: #FFFAF0;
background-color: #D2B48C;  /*#FF6347*/
}

/*
.choices {
display: block;
width: 100%;
height: 100%;

padding-top: 10px;
}
*/
.prompt {

display: inline-block;
width: 100%;
text-align: center;
font-size: 30px;

padding-bottom: 20px;
}

.choice-1 {
position: absolute;
display: block;

width: 32%;
height: 12%;
background-color: #B22222;

margin-top: 1%;
margin-left: 4.5%;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;

text-align: center;
font-size: 25px;

color: #66FFFF;
}



.choice-2{
position: absolute;
display: block;
left: 50%;
width: 32%;
height: 12%;

margin-top: 1%;
margin-left: 4.5%;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;


text-align: center;
font-size: 25px;

background-color: #B22222;
color: #66FFFF;
}


.choice-3 {
position: absolute;
display: block;

width: 32%;
height: 12%;

margin-top: 11%;
margin-left: 4.5%;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;


text-align: center;
font-size: 25px;

background-color: #B22222;
color: #66FFFF;

}




.choice-4 {
position: absolute;
display: block;

width: 32%;
height: 12%;

margin-top: 11%;
margin-left: 4.5%;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;


left: 50%;

text-align: center;
font-size: 25px;

background-color: #B22222;
color: #66FFFF;
/*
background-color: #B22222;
*/

}

/* Because the choices for this question was so long, this style is specifically
made to compensate for it's length. */
.choice-2ABC {
position: absolute;
display: block;
left: 50%;
width: 32%;
height: 12%;

margin-top: 1%;
margin-left: 4.5%;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;


text-align: center;
font-size: 16px;

background-color: #B22222;
color: #66FFFF;
}


.choice-2ABC:hover {
	text-decoration: none;
	background-color:#FF7373;
}
.choice-2ABC:visited {
	  color: #FF7373;
}

a:link {
	text-decoration: none;
	color:#66FFFF;
} 

/* Link interactions for choice 1 */
.choice-1:hover {
	background-color: #FF7373;
}
.choice-1:visited {
    color: #FF7373;
}


/* Link interactions for choice 2 */
.choice-2:hover {
	background-color: #FF7373;
}
.choice-2:visited {
	color:#FF7373;
}

/* Link interactions for choice 3 */
.choice-3:hover {
	background-color: #FF7373;
}
.choice-3:visited{
	color: #FF7373;
}

/* Link interactions for choice 4 */
.choice-4:hover {
	background-color: #FF7373;
}
.choice-4:visited{
	color:#FF7373;
}


/*reminder change the color background of the 3A and the other 3s

