/* CSS Coming Soon! */

* 
{
    box-sizing: border-box;
    font-family: arial;
}

html, body
{
    min-height: 100%;
}

body
{
    margin: 40px;
}

.heading
{
    margin: 0 0 25px;
}

/*
    Buttons
 */

.btn
{
    padding: 10px;
    background: rgba(0,0,0,0.125);
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:active
{
    background: rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.25);
    outline: none;
}

/*
    Lightbox
 */
.lightbox
{
    /* Position the modal in the center of the page */
    position: absolute; /* fixed */
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    /* Styling for the Modal */
    width: 80%;
    max-width: 720px;
    min-width: 240px;
    padding: 10px;
    background: #fff;
    border-radius: 3px;

    /* Hide Modals By Default */
    display: none;

    /* Modals sit on top of Glass */
    z-index: 90211;
}
.lightbox.active
{
    /* Active lightbox is visible */
    display: block;
}

.lightbox-controls
{
    margin-top: 10px;
    clear: both;
}
    .lightbox-controls .previous
    {
        float: left;
    }
    .lightbox-controls .next
    {
        float: right;
    }

.lightbox-close-button
{
    position: absolute;
    top: -12px; right: -12px;
    height: 29px; width: 29px;
    border-radius: 50%;
    transform: rotate(45deg);
    text-align: center;
    line-height: 28px;
    padding: 0;
    font-size: 21px;
    background: #333;
    color: #fff;
}

.lightbox-label
{
    line-height: 34px;
    text-align: center;
}
.lightbox-item
{
    position: absolute;
    top: 0; left: 0;
    display: none;
}
.lightbox-item.active
{
    position: relative;
    display: block;
}
.lightbox-image
{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 3px;
}

/*
    Glass
 */
.glass
{
    /* Glass Covers Everything (except the Modal) */
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.25);

    /* Hide Modal Glass By Default */
    display: none;

    /* Glass sits on top of everything else */
    z-index: 90210;
}
.glass.active
{
    /* When Glass is showing */
    display: block;
}
