.adjusted{
    top:auto !important;
}
.tabs .tab a{
    color:#6a1b9a;
    cursor: pointer;
}
.tabs .tab a:hover {
    color: #92809a; }
.tabs .indicator{
    background-color: #79599a;
}
.paper {
    font-size: 22px;
    margin-top: 25px;
    position: relative;
    color: #444;
    line-height: 40px;
    /*border: 1px solid #d2d2d2;*/
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 10%) 0 4px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 10%) 0 4px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 10%) 0 4px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 10%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff 10%) 0 4px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    /*border-radius: 3px;*/
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}
.number{
    font-size: 14px;
}
.blackout{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.text-center{
    text-align: center;
}
.nyu-purple{
    background-color: #57068c;
}
.navbar-fixed,.tabs{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;
}
/*#stories{*/
    /*width: auto;*/
/*}*/