/* CSS Coming Soon! */

html, body {
	height:100%;
	font-family: 'Indie Flower', cursive;
	font-size: 20pt;
}

.left {
	float:left;
	height:100%;
	width:50%;
	/*
	outline-width:1px;
	outline-color:blue;
	outline-style:solid;
	*/
}

.right {
	float:right;
	height:100%;
	width:50%;
	/*
	outline-width:1px;
	outline-color:red;
	outline-style:solid;
	*/
}

.box {
	width:50%;
	
	

	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:30px;
}

.inner {
	border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}

a {
	color:black;
	text-decoration:none;
}

.fail {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-align: center;
}
.fail:hover {
	color:red;
	text-decoration:none;
}

a .inner:hover {
	border-color:red;
}