/* Styles applied to everything */

.bb-1
{
    float: left;
    margin-right: 20px;

    text-align: center;
    line-height: 100px;
}

/* Smartphones (portrait and landscape) ----------- */
@media all and (max-width: 480px) {
/* Styles */

    .bb-1
    {
        float: none;
        width: auto;
        margin: 0 0 20px;
    }

}

/* iPads, Laptops (portrait and landscape) ----------- */
@media all and (max-width: 1224px) and (min-width: 481px) {

    .bb-1
    {
        background-color: #f00;
    }

}

/* Big Screens (portrait and landscape) ----------- */
@media all and (min-width: 1225px) {

    .bb-1
    {
        width: 200px;
        height: 200px;

        font-size: 200%;
        line-height: 200px;

        background-color: #0f0;
    }

}

