/*
    Parsed Top Down 
    Specificity
    Cascade


    General Selectors
    | |
    | |
    | |
     V
    Specific Selectors

 */

/*
    Star selector selects every element
    It can be slightly inefficient

    Used for lightweight "Reset" Styles
 */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

html, body{
    height:100%; /*Percentage units in CSS get their value by referencing the parent element*/
}

html {
}

body {
}

.box{
    margin: auto; /*Centers a block element with a defined width*/
    height: 100px;
    /*inline elements cannot accept height or width properties if empty*/
    /*content informs the size of inline elements*/
    width: 100px;
    position:absolute; /*position tutorial!*/
    /*floated elements, block, inline, and inline-block all become block. Float overrides the display property.*/
}

.blue-box {
    
    background: blue;

}
