/*
Yo, you need a general idea before you go nuts creating and designing shit. you dont even know what links you want lol --Levi M.
*/
.week_link{
	position:relative;
	height:70%;
	width:30%;
	top:13%;
	left:37px;
	padding:3px;
	margin-left:5px;
	display:inline-block;
	background-color: rgba(9,4,18,0.8);
	text-decoration: none;
	font-size:20pt;
	color:rgb(255,255,255);
	text-align: center;
	border-style:solid;
	border-width:3px;
	border-color:black;
	border-radius:10px;
	box-shadow:5px 5px 0px black;
}

.logo{
	width:200px;
	height:200px;
	position:absolute;
	left:1100px;
	top:40px;
}

.home_title{
	position:relative;
	width:70%;
	left:185px;
	text-align:center;
	font-size:36pt;
	color:rgb(37,41,113);
	font-family:cursive;


}

.page_bkround{
	background-color: rgba(216,185,208,1);
}

.week_center{
	position:relative;
	top:32px;
	padding:2px;
}

.week_link:visited{
	text-decoration: none;
}

.row{
	position:relative;
	top:125px;
	margin-top:3px;
	left:3%;
	height:125px;
	width:1240px;
	display:block;
}