/*
Yo, you need a general idea before you go nuts creating and designing shit. you dont even know what links you want lol --Levi M.
*/
.week_link{
	position:relative;
	height:70%;
	width:30%;
	top:13%;
	left:37px;
	padding:3px;
	margin-left:5px;
	display:inline-block;
	background-color: rgba(9,4,18,0.8);
	text-decoration: none;
	font-size:20pt;
	color:rgb(255,255,255);
	text-align: center;
	border-style:solid;
	border-width:3px;
	border-color:black;
	border-radius:10px;
	box-shadow:5px 5px 0px black;
}

.wkposition{
	top:140px;
	position:absolute;
}

.week_link:hover{
	cursor:pointer;
	border-color:rgb(210,177,201);
	border-style:outset;
}

.week_link:active{
	border-style:inset;
}

.logo{
	width:160px;
	height:160px;
	position:absolute;
	left:80%;
	top:20px;
}

.home_title{
	width:70%;
	text-align:center;
	font-size:36pt;
	color:rgb(255,255,255);
	font-family:cursive;
}

.heading{
	border-style:ridge;
	border-width:7px;
	border-color:rgb(210,177,201);
	position:absolute;
	width:1180px;
	height:190px;
	left:6%;
	padding:4px 5px 5px 4px;
	background-color:rgba(0,0,0,0.6);
	margin-top:20px;
}

.weekcount{
	color:white;
}

.page_bkround{
	background-color: #d8b9cd;
background-image: -webkit-gradient(linear, left center, right center, from(rgb(216, 185, 205)), to(rgb(0, 0, 0)));
background-image: -webkit-linear-gradient(left, rgb(216, 185, 205), rgb(0, 0, 0));
background-image: -moz-linear-gradient(left, rgb(216, 185, 205), rgb(0, 0, 0));
background-image: -o-linear-gradient(left, rgb(216, 185, 205), rgb(0, 0, 0));
background-image: -ms-linear-gradient(left, rgb(216, 185, 205), rgb(0, 0, 0));
background-image: linear-gradient(left, rgb(216, 185, 205), rgb(0, 0, 0));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#d8b9cd', EndColorStr='#000000');

}

.week_center{
	position:relative;
	top:32px;
	padding:2px;
}

.week_link:visited{
	text-decoration: none;
}

.row{
	position:relative;
	top:125px;
	margin-top:3px;
	left:3%;
	height:125px;
	width:1240px;
	display:block;
}