.home{
	background-color:rgba(144,57,66,0.6);
	font-family: sans-serif;
}

.heading{
	color:#888;
	margin:5px 5px 5px 7px;
	font-size:48pt;
}

.about{
	font-family:monospace;
	background: #cccccc;
}

.about .heading{
	color: #f00;
}