/* CSS FOR WEEK1 THEME*/
.week1{
	background-color: #4f502b;
	background-image: -webkit-gradient(linear, left center, right center, from(rgb(79, 80, 43)), to(rgb(0, 0, 0)));
	background-image: -webkit-linear-gradient(left, rgb(79, 80, 43), rgb(0, 0, 0));
	background-image: -moz-linear-gradient(left, rgb(79, 80, 43), rgb(0, 0, 0));
	background-image: -o-linear-gradient(left, rgb(79, 80, 43), rgb(0, 0, 0));
	background-image: -ms-linear-gradient(left, rgb(79, 80, 43), rgb(0, 0, 0));
	background-image: linear-gradient(left, rgb(79, 80, 43), rgb(0, 0, 0));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#4f502b', EndColorStr='#000000');
	/*Only while testing colors*/
	color:rgb(238, 215, 130);
}

.week1h{
	background-color:rgba(0,0,0,0.6);
	border-color:rgba(238, 215, 130,0.7);
}

.week1a{
	text-shadow:4px 5px 10px rgb(0,0,0);
}

/* CSS FOR WEEK 1 END*/

/* GENERAL CSS*/
.heading{
	border-style:ridge;
	border-width:7px;
	position:absolute;
	width:1180px;
	height:280px;
	left:6%;
	padding:4px 5px 5px 4px;
	margin-top:20px;
}

.article{
	position:absolute;
	top:360px;
	padding:15px;
	overflow:scroll;
	height:390px;
	font-size:18pt;
	text-decoration: none;
}

.article a{
	text-decoration:none;
}

.logo{
	position:absolute;
	left:80%;
	top:0px;
	width:250px;
	height:250px;
}

/* END OF GENERAL CSS*/

/* WEEK 5 CSS*/
.week5{
	background-color: #a1d7ae;
	background-image: -webkit-gradient(linear, left center, right center, from(rgb(161, 215, 174)), to(rgb(0, 0, 0)));
	background-image: -webkit-linear-gradient(left, rgb(161, 215, 174), rgb(0, 0, 0));
	background-image: -moz-linear-gradient(left, rgb(161, 215, 174), rgb(0, 0, 0));
	background-image: -o-linear-gradient(left, rgb(161, 215, 174), rgb(0, 0, 0));
	background-image: -ms-linear-gradient(left, rgb(161, 215, 174), rgb(0, 0, 0));
	background-image: linear-gradient(left, rgb(161, 215, 174), rgb(0, 0, 0));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#a1d7ae', EndColorStr='#000000');
	color:rgb(107,145,116);
}

.week5h{
	background-color:rgba(0,0,0,0.6);
	border-color:rgba(161, 215, 174,0.7);
	height:197px;
}

.week5a{
	color:rgb(161, 215, 174);
	text-shadow:3px 2px 2px rgb(0, 0, 0);
	background-color:rgba(0,0,0,0.5);
	border-radius:25px;
}

.week5a a{
	color:rgb(161, 215, 174);
}

.week5a a:hover{
	color:rgb(144,33,26);
}

.logo5{
	width:200px;
	height:200px;
	left:80%;
	position:absolute;
	top:0px;
}

/*END OF WEEK 2 CSS*/