/*Homepage*/

/*Background image for homepage*/
.homepageBody {
    background-image: url('../images/background/homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.titleBox {
    text-align: center;
    background: linear-gradient(45deg, gray, white);
    border-radius: 25px;
    padding: 10px 10px;
    position: absolute;
    height: 430px;
    width: 350px;
    top:calc(50% - 430px/2); /* height divided by 2*/
    left:calc(50% - 350px/2); /* width divided by 2*/
}
.titleBox h2,h4 {
    font-style: italic;
}
#riddleButton {
    margin-top: 10px;
    margin-right: 20px;
    padding: 4px 4px;
    border-radius: 5px;
}
#riddleButtonLink:link {
    color: #990099;
    text-decoration: none;
}
#riddleButtonLink:visited {
    color: #660033;
    text-decoration: none;
}  
#riddleMessageBox {
    display: none;
    font-style: italic;
    background: linear-gradient(45deg, gray, white);
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 5%;
}

/*Riddlepage*/

/*Background image for riddlepage*/
.riddlepageBody {
    background-image: url('../images/background/riddlepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#riddle0,#riddle1,#riddle2,#riddle3,#riddle4 {
   display: none; 
   font-style: italic;
   background: linear-gradient(45deg, gray, white);
   border-radius: 10px;
   padding: 5px 5px;
   margin-top: 5%;
}

#submit0,#1submit1,#submit2,#submit3,#submit4 {
    margin-top: 10px;
    margin-right: 10px;
    padding: 2px 2px;
    border-radius: 5px;
}