<!DOCTYPE html>
<html ng-app="app">
<head lang="en" >
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mycss.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <title>NYU Mad Libs</title>
    <!--<base href="/">-->
</head>
<body class="body" ng-cloak>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a ng-href="#/" class="navbar-brand">NYU Mad Libs</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" id="themes">Stories<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes" ng-controller="TabsCtrl">
                            <li ng-repeat="tab in tabs">
                                <a href="{{tab.href}}" data-toggle="tab" data-target="{{tab.target}}" ng-click="setSelectedTab(tab)">{{tab.label}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <ul class="nav nav-tabs" ng-controller="TabsCtrl">
            <li ng-class="tabClass(tab)" ng-repeat="tab in tabs">
                <a href="{{tab.href}}" ng-click="setSelectedTab(tab)">{{tab.label}}</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content" >
            <div ng-view></div>
        </div>

    </div>
    <script src="./scripts/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="./scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="./scripts/angular.js"></script>
    <script src="./scripts/angular-route.js"></script>
    <!--<script src="./scripts/ui-bootstrap-tpls-0.12.1.min.js"></script>-->
    <script src="./scripts/myjs.js" type="text/javascript"></script>

    <script>
        angular.module("app", ['ngRoute'])
            .controller('Story1', ['$scope', function ($scope) {
                $scope.words={
                    word1:"",
                    word2:"",
                    word3:"",
                    word4:""
                };
            }])
//            .controller('DropCtrl',function($scope){
//
//            })
            .controller('TabsCtrl', function ($scope){
                    var g;
                $scope.tabs = [
                    { href : '#/story1', target: 'story1', label : 'Story 1' },
                    { href : '#/story2', target: 'story2', label : 'Story 2' },
                    { href : '#/story3', target: 'story3', label : 'Story 3' },
                    { href : '#/story4', target: 'story4', label : 'Story 4' }
                ];
                $scope.selectedTab = $scope.tabs[0];
                $scope.setSelectedTab = function(tab) {
                    $scope.selectedTab = tab;
                    g = tab;
                };

                $scope.tabClass = function(tab) {
                    console.log("Selected:"+g,"Current Tab:"+tab);
                    if ($scope.selectedTab == tab) {
                        return "active";
                    } else {
                        return "";
                    }
                }
            })
            .config(function($routeProvider){
                $routeProvider
                    .when('/',{
                        templateUrl: './story1.html',
                        controller: 'Story1'
                    })
                    .when('/story1',{
                        templateUrl: './story1.html',
                        controller: 'Story1'
                    })
                    .when('/story2',{
                        templateUrl: './story2.html',
                        controller: 'Story1'
                    })
                    .when('/story3',{
                        templateUrl: './story3.html',
                        controller: 'Story1'
                    });
            });
    </script>
</body>
</html>