<div class="tab-pane paper" id="story1">
    <p>
        <span class="number">1.</span> <span data-type="pronoun" ng-bind="words.word1"></span> visited Washington Square Park and <span class="number">2.</span> <span class="verb past" ng-bind="words.word2"></span>
        for an hour to get rid of stress. By the time <span class="pronoun" ng-bind="words.word1"></span> was done,
        the <span class="number">3.</span> <span class="noun" ng-bind="words.word3"></span> was on fire.
    </p>
</div>
1.<input class="word" type="text" ng-model="words.word1" placeholder="Enter Pronoun"/>
2.<input class="word" type="text" ng-model="words.word2" placeholder="Enter Verb/Past"/>
3.<input class="word" type="text" ng-model="words.word3" placeholder="Enter Noun"/>