<div class="paper story">
    <p ng-class="{'blackout':!activetext}">
        While tutoring a 6th grader today, I went into my bag to pull out my
        <span class="number visible">1.</span> <span class="visible">{{words.word1}}</span>, and the box of <span class="number visible">2.</span> <span class="visible">{{words.word2}}</span> I forgot I had in there fell out. He asked what was in the box. I had to spend the next
        <span class="number visible">3.</span> <span class="visible">{{words.word3}}</span> minutes trying to convince him that it was
        <span class="number visible">4.</span> <span class="visible">{{words.word4}}</span>
        wear for med school students, and I had them in preparation for applying to medical school.
    </p>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word1" type="text" class="validate" ng-model="words.word1">
        <label for="word1">1. Noun</label>
    </div>
    <div class="input-field col s6">
        <input id="word2" type="text" class="validate" ng-model="words.word2">
        <label for="word2">2. Noun/Plural</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word3" type="text" class="validate" ng-model="words.word3">
        <label for="word3">3. Number</label>
    </div>
    <div class="input-field col s6">
        <input id="word4" type="text" class="validate" ng-model="words.word4">
        <label for="word4">4. Adjective</label>
    </div>
</div>
<div class="container text-center">
    <button type="button" class="waves-effect waves-light btn deep-purple darken-4 generate" ng-click="makeActiveText()">Generate Story</button>
</div>