<div class="paper story">
    <p ng-class="{'blackout':!activetext}">
        I am on my way to Insomnia Cookes, and I see some <span class="number visible">1.</span> <span class="visible">{{words.word1}}
        </span> <span class="number visible">2.</span> <span class="visible">{{words.word2}}</span> a <span class="number visible">3.</span> <span class="visible">{{words.word3}}</span>. These {{words.word1}}
        <span class="number visible">4.</span> <span class="visible">{{words.word4}}</span> very <span class="number visible">5.</span> <span class="visible">{{words.word5}}</span> for {{words.word1}}.
        After eating my favorite <span class="number visible">6.</span> <span class="visible">{{words.word6}}</span> filled cookies, I <span class="number visible">7.</span> <span class="visible">{{words.word7}}</span> some random girl on the street with my
        <span class="number visible">8.</span> <span class="visible">{{words.word8}}</span>. Turns out that girl was <span class="number visible">9.</span> <span class="visible">{{words.word9}}</span>!
    </p>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word1" type="text" class="validate" ng-model="words.word1">
        <label for="word1">1. Noun/Plural</label>
    </div>
    <div class="input-field col s6">
        <input id="word2" type="text" class="validate" ng-model="words.word2">
        <label for="word2">2. Verb/Present Continuous</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word3" type="text" class="validate" ng-model="words.word3">
        <label for="word3">3. Noun</label>
    </div>
    <div class="input-field col s6">
        <input id="word4" type="text" class="validate" ng-model="words.word4">
        <label for="word4">4. Verb/Present</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word5" type="text" class="validate" ng-model="words.word5">
        <label for="word5">5. Adverb</label>
    </div>
    <div class="input-field col s6">
        <input id="word6" type="text" class="validate" ng-model="words.word6">
        <label for="word6">6. Noun</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word7" type="text" class="validate" ng-model="words.word7">
        <label for="word7">7. Verb/Past</label>
    </div>
    <div class="input-field col s6">
        <input id="word8" type="text" class="validate" ng-model="words.word8">
        <label for="word8">8. Noun</label>
    </div>
</div>
<div class="row">
    <div class="input-field col offset-s3 s6 offset-s3">
        <input id="word9" type="text" class="validate" ng-model="words.word9">
        <label for="word9">9. Proper Noun</label>
    </div>
</div>

<div class="container text-center">
    <button type="button" class="waves-effect waves-light btn deep-purple darken-4 generate" ng-click="makeActiveText()">Generate Story</button>
</div>