<div class="paper story">
    <p ng-class="{'blackout':!activetext}">
        I <span class="number visible">1.</span> <span class="visible">{{words.word1}}</span> in the morning and went to the Coles Center to
        <span class="number visible">2.</span> <span class="visible">{{words.word2}}</span>. Turns out it was closed. I took the train to Palladium afterwards, and saw naked
        <span class="number visible">3.</span> <span class="visible">{{words.word3}}</span> in the swimming pool. I was very
        <span class="number visible">4.</span> <span class="visible">{{words.word4}}</span>, so I
        <span class="number visible">5.</span> <span class="visible">{{words.word5}}</span>. In the evening I went home. I <span class="number visible">6.</span> <span class="visible">{{words.word6}}</span> quickly and went to bed so I could get a good night's rest for tomorrow's final.
    </p>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word1" type="text" class="validate" ng-model="words.word1">
        <label for="word1">1. Verb/Past</label>
    </div>
    <div class="input-field col s6">
        <input id="word2" type="text" class="validate" ng-model="words.word2">
        <label for="word2">2. Verb/Present</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word3" type="text" class="validate" ng-model="words.word3">
        <label for="word3">3. Noun/Plural</label>
    </div>
    <div class="input-field col s6">
        <input id="word4" type="text" class="validate" ng-model="words.word4">
        <label for="word4">4. Emotion</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word5" type="text" class="validate" ng-model="words.word5">
        <label for="word5">5. Verb/Past</label>
    </div>
    <div class="input-field col s6">
        <input id="word6" type="text" class="validate" ng-model="words.word6">
        <label for="word6">6. Verb/Past</label>
    </div>
</div>

<div class="container text-center">
    <button type="button" class="waves-effect waves-light btn deep-purple darken-4 generate" ng-click="makeActiveText()">Generate Story</button>
</div>