<div class="paper">
    <p ng-class="{'blackout':!activetext}">
        <span class="number visible">1.</span> <span class="visible">{{words.word1}}</span> visited Washington Square Park and
        <span class="number visible">2.</span> <span class="visible">{{words.word2}}</span> for an hour to get rid of stress. By the time {{words.word1}} was done, a
        <span class="number visible">3.</span> <span class="visible">{{words.word3}}</span> was on fire. A street performer sat outside the fountain
        <span class="number visible">4.</span> <span class="visible">{{words.word4}}</span> a
        <span class="number visible">5.</span> <span class="visible">{{words.word5}}</span>. Meanwhile you were
        <span class="number visible">6.</span> <span class="visible">{{words.word6}}</span> in Bobst Library, dreading about the thought of studying for all your finals.
    </p>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word1" type="text" class="validate" ng-model="words.word1">
        <label for="word1">1. Proper Noun</label>
    </div>
    <div class="input-field col s6">
        <input id="word2" type="text" class="validate" ng-model="words.word2">
        <label for="word2">2. Verb/Past</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word3" type="text" class="validate" ng-model="words.word3">
        <label for="word3">3. Noun</label>
    </div>
    <div class="input-field col s6">
        <input id="word4" type="text" class="validate" ng-model="words.word4">
        <label for="word4">4. Verb/Past Continuous '-ing'</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input id="word5" type="text" class="validate" ng-model="words.word5">
        <label for="word5">5. Noun</label>
    </div>
    <div class="input-field col s6">
        <input id="word6" type="text" class="validate" ng-model="words.word6">
        <label for="word6">6. Verb/Past Continuous '-ing'</label>
    </div>
</div>
<div class="container text-center">
    <button type="button" class="waves-effect waves-light btn deep-purple darken-4 generate" ng-click="makeActiveText()">Generate Story</button>
</div>
