<div class="tab-pane paper" id="story2">
    <p>
        Food <span class="number">1.</span> <span class="adjective" ng-bind="words.word1"></span> fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, <span><input class="input" type="text" placeholder="ADJECTIVE"/></span> enim craft beer
        mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
    </p>
</div>
1.<input class="word" type="text" ng-model="words.word1" placeholder="Enter Verb/Past Tense"/>
2.<input class="word" type="text" ng-model="words.word2" placeholder="Enter Adjective"/>
3.<input class="word" type="text" ng-model="words.word3" placeholder="Enter Verb/Past Tense"/>
4.<input class="word" type="text" ng-model="words.word4" placeholder="Enter Noun"/>