<div class="tab-pane paper" id="story1">
    <p>
        Raw denim you probably haven't <span class="number">1.</span> <span class="verb past" ng-bind="words.word1"></span> of them jean shorts Austin.
        Nesciunt stumptown aliqua, retro <span class="number">2.</span> <span class="adjective" ng-bind="words.word2"></span> master cleanse. <span class="number">3.</span> <span class="verb past" ng-bind="words.word3"></span> cliche tempor, williamsburg carles vegan helvetica.
        Reprehenderit <span class="number">4.</span> <span class="noun" ng-bind="words.word4"></span> retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.
        Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
    </p>
</div>
1.<input class="word" type="text" ng-model="words.word1" placeholder="Enter Verb/Past Tense"/>
2.<input class="word" type="text" ng-model="words.word2" placeholder="Enter Adjective"/>
3.<input class="word" type="text" ng-model="words.word3" placeholder="Enter Verb/Past Tense"/>
4.<input class="word" type="text" ng-model="words.word4" placeholder="Enter Noun"/>