body {
	background: #434443;
	font-size:12pt;
	color: #f3f3f3;
	font-family: 'Source Sans Pro', sans-serif;
}

a:link {
	color:#8faf9f;
	font-style: normal;
}
a:visited {
	color:#888888;
}


.heading {
	font-size:48pt;
	margin-left: 40px;
}

.entry {
	font-weight: bold;
	font-size: 14pt;
	color: #f0dfaf;
}

.about {
	background: #434443;
	margin-left: 20px;
}

.about .heading {
	color: #dca3a3;
}

.response {
	font-size: 14pt;
	text-indent: 20px;
}
