* {
    margin: 0; 
    padding: 0;
}
html {
    background: #EAE2FF;
}
body {
    margin: 0px auto;
    margin-top: 20px;
    width: 80%;
    min-width: 700px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    background: #6BA5FF;
    border: 1px solid black;
    line-height: 1.4em;
}
h2, h3, h4, h5, h6 {
    font-family: monospace;
    text-align: left;
}
h2 + p {
    margin-top: 1em;   
}
header {
    height: 150px;
    background: #718BB2;    
}

header h1 {
    font-family: monospace;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 4em;
    line-height: 150px;
    text-align: center;	
}
li {
    list-style: none;
    padding-bottom: 10px;
    color: #59397F;
    font-style: italic;
}
section p {
    padding-bottom: 1em;
    text-indent: 2em;
}
article div {
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    border: 1px solid black;
    background: #b8b8b8;
    box-shadow: 2px 2px 5px #000;
}
a div {
    background: #FFE8BA;
}
a div:hover {
    background: #5E00FF;
}
.weekNum {
    text-indent: 0;
    padding-bottom: 0;
    text-align: center;
    font-size: 1.2em;
    font-variant: small-caps;
}
#backBtn {
    float: right;
    margin: 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    background: #FFE8BA;
    box-shadow: 2px 2px 5px #000;
    font-variant: small-caps;
}
#backBtn:hover {
    background: #5E00FF;
}
section {
    width: 44%;
    padding: 20px;
    text-align: justify;
    margin: 10px 0 10px 0;
}
#leftSec {
    float: left;   
}
#rightSec {
    float: right;
}
#mainLeft {
    padding-left: 10px;
    width: 45%;
    float: left;
}
#mainRight {
    padding-right: 10px;
    width: 45%;
    float: right;
}
footer {
    clear: both;
    height: 100px;
    background: #7A1DFF;
}
#contact {
    display: none;
    font-size: 1.4em;
    line-height: 100px;
    text-align: center;
    font-variant: small-caps;
}

a:link, a:visited {
    color: black;
    
}
address {
    text-align: left;   
}
