ul
{
    list-style-type: none;
    padding:0; 
    margin:0;
}

dd {

	margin: 0;
    padding: 0 0 0.5em 0;

}

#Cookie_Intro dd {
    margin: 0;
    padding: 0 0 0.5em 0;
}

#Nutritional_Information dd {
    margin: 0;
    padding: 0 0 0em 0;
}
