*{
	margin:0;
    padding:0;
}

html{
	font-family:'Montserrat', sans-serif;
	color:#fff;
	font-weight:400;
	overflow-y:hidden;
	background-color:black;
}

body{
	font-size:14px;
}

a{
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:700;
	transition:.4s all ease;
}

a:hover{
	color:#000;
	transition:.4s all ease;
}

#section, .container{
	background:url('../img/homepage.jpg') no-repeat center center;
	width:100%;
    min-height:720px;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    position:relative;
    z-index:0;
}
#section1{
    background:url('../img/classroom.jpg') no-repeat center center;
}

.logo-container{
	margin:0 auto;
	text-align:center;
	font-family: 'Playfair Display', serif;
	font-weight:700;
	letter-spacing:10px;
	font-size:2em;
	text-transform:uppercase;
	color:#ebb87f;
	position: relative;
  	top: 50%;
  	transform: translateY(50%);
}

.logo-container img{
	width:60%;
	display:block;
	margin:0 auto;
}

.links{
	top:20px;
	right:20px;
	position:absolute;
}

.links ul{
	list-style:none;
}

.links ul li{
	display:inline-block;
	padding-right:25px;
	padding-left:25px;
	box-sizing:border-box;
}

.play{
	text-transform:uppercase;
	text-align:center;
	margin:0 auto;
	position: absolute;
  	bottom:20%;
  	left: 50%;
  	transform:translateX(-50%);
}

.play-arrow-down{
	width: 30px;
	height: 30px;
	border-style: solid;
	background: none;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
    border-top:0px;
    border-left:0px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    left:5%;
    position:absolute;
    transition:.4s all ease;
}

.play-arrow-down:hover{
	border-right:1px solid #000;
    border-bottom:1px solid #000;
    transition:.4s all ease;
}

.tutorial-overlay{
	position:absolute;
	opacity:0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.7);
    z-index:-999;
}

.tutorial-overlay.active{
	opacity:1;
	z-index:1;
}

.tutorial-overlay-content{
	font-family: 'Playfair Display', serif;
	font-weight:400;
	line-height:200%;
	font-size:2em;
	color:#fff;
	margin:100px;
}

.tutorial-btn{
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	font-weight:700;
	transition:.4s all ease;
	background:0;
	border:0;
}

.close-btn{
	text-transform:uppercase;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:700;
	font-size:5em;
	background:0;
	border:0;
	top:10px;
	right:30px;
	position:absolute;
	transition:.4s all ease;
	opacity:0;

}

.close-btn.active{
	opacity:1;
	z-index:2;
}

.scene-caption-container{
	position:absolute;
	top:10%;
	width:60%;
	left:20%;
}

.scene-caption{
	font-family: 'Playfair Display', serif;
	font-weight:700;
	font-style:italic;
	font-size:1.5em;
	border:1px white solid;
	padding:20px;
	text-align:center;
}

.scene-line{
	font-family: 'Playfair Display', serif;
	font-weight:700;
	font-size:2em;
	text-align:center;
}

.choice-one-container{
	position:absolute;
	bottom:25%;
	left:25%;
}

.choice-two-container{
	position:absolute;
	bottom:25%;
	right:25%;
}

.scene-choice{
	font-family: 'Montserrat', sans-serif;
    background: transparent;
	border:1px white solid;
	padding:20px;
	transition:.4s all ease;
	margin:20px;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:700;
}

.scene-choice:hover{
	border:5px #ebb87f solid;
	tansition:.4s all ease;
}

.scene-choice a:hover{
	color:#ebb87f;
}

.rewind-container{
	background:url('../img/rewind.png');
	margin:10px;
	width:110px;
	height:110px;
	border:0;
	top:0px;
	right:30px;
	position:absolute;
	transition:.4s all ease;
}

.rewinded-container{
	background:url('../img/rewinded.png');
	margin:10px;
	width:140px;
	height:120px;
	border:0;
	top:0px;
	left:30px;
	position:absolute;
	transition:.4s all ease;
}