body {
    
    /*background-color: gray;*/
    font-family: cursive;
    background-image: url(calvin_learning_log/images/torch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*background: rgba():*/
    
}

.mp4video,.info,.gifimage{
    
    display: inline-block;
    padding-left: 2.5%;
    padding-right: 2%;
    text-align: center;
    
}

.appendix {
    
    text-align: center;
    
}

.navigation {

    text-align: center;
    list-style-position: inside;
    
}

.navigation a:link {
    
    color: blueviolet;
    
}

.navigation a:visited {
 
    color: cadetblue;
    
}

article > div,section > h3 {
    
    text-align: center;
    
}