section > h3 {
    
    color: saddlebrown;
    border-bottom-style: dashed;
    border-bottom-color: dimgray;
    
}

ul > li {

    padding-bottom: 2%;
    
}

.container {

    width: 1000px;
    min-width: 65%;
    margin: auto;
    
}

header {
    
    border-bottom-style: dashed;
    border-bottom-color: darkorange;
    height: 175px;
    max-height: 35%;
}

.brand {
    
    width: 350px;
    max-width: 50%;
    color: #996633;
    
}

sup {
    
    font-size: 50%;
    
}

.brand,.description {
    
    display: inline-block;
    
}

.description {
    
    float: right;
    padding-top: 1.5%;
    width: 410px;
    max-width: 50%;
    text-align: left;
    vertical-align: top;
    
}

.cookie_intro {

   padding-top: 2%;
    
}

.cookie_image img{
    
    width: 320x;
    height: 320px;
    
}

.cookie_image,.cooking_brief {
    
    display: inline-block;
    
    
}

.cooking_brief {
    
    vertical-align: top;
    padding-left: 1.5%;
    margin-top: -1.5%;
    
}

.cooking_brief dl dt {
    
    font-size: 70%;
    font-weight: bold;
    color: darkgray;
    
}

.cooking_brief dl dd{
    
    padding-bottom: 5%;
    margin-left: 0;
    color: grey;
    
}

.cooking_brief p {

    padding-top: 0;
    margin-top: 0;
    font-size: 50%;
    
}

.left_column,.right_column {
    
    display: inline-block;
    
}

.left_column {
    
    width: 250px;
    min-width: 32%;
    
}

.ingredients > ul {

    list-style-type: none;  
    padding-left: 0;
    
}

.in_this_recipe > figure{

    margin-left: 0;
    
}

.in_this_recipe > figure > img {

    width: 150px;
    height: 75px; 
    
}

.in_this_recipe > figure > figcaption {
    
    margin-top: 6%;
    text-align: center;
    float: left;
    
}

.right_column {
    
    vertical-align: top;
    width: 660px;
    min-width: 26%;
    margin-left: 1.5%;
    
}

.instructions > ul{

    list-style-type: none;
    padding-left: 0;
    
    
}

.instructions > ul > li > b {
    
   color: brown;
    
}

.slice_bake {

    padding-bottom: 0;
    margin-bottom: 0;
    color: brown;
    
}

.nutritional_info {

    color: saddlebrown;
    font-size: 200%;
    
}

.table_1 {
 
    width: 80%;
    
}

.table_1 tr > th {
    
    text-align: left;
    width: 18%;
    
}

.table_1 tr > .col_info {
    
    font-weight: bold;
    font-size: xx-small;
    
}

.table_1 tr > .col_desc {
    
    font-size: xx-large;
    font-weight: 200;
    color: gray;
    
}

.daily_value {
    
    font-size: 85%;
    font-weight: bold;
    
}

.nutrition_table {
 
    width: 90%;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-color: gray;
    
}

.table_2,.table_3 {
 
    display: inline-block;
    
}

.table_2 {

    width: 60%;
    
}

.table_3 {
    
    width: 40%;
    float: right;
    
}

.nutrition_table .second_column {

    padding-left: 90%;
    color: red;
    
}

.nutrition_caption {

    font-size: 80%;
    
}