  * {
        margin: 0;
        padding: 0;
    }
    body {
        font-size: 15px;
        width: 1200px;
        margin: 0 auto;
    }
    header {
        width: 100%;
        float: left;
        border-bottom: 2px dashed #FF9B2E;
    }
    hr {
        border-top: 2px dashed #756B61;
    }
    header h1 {
        width: 50%;
        float: left;
    }
    header p {
        color: #756B61;
        font-size: 1.5;
        width: 50%;
        float: right; 
    }
    article {
        clear: both;
    }
    aside {
        width: 400px;
        float: left;
    }
    li {
        color: black;
        font-weight: bold;
    }
    h1, h2 {
        text-transform: uppercase;
        font-family: Register Serif BTN SC;
        font-weight: 50;
        font-style: narrow;
        color: blue;
    }
    h1 {
        font-size: 3em;   
    }
    h2 {
        font-size: 2em; 
    }  
    h3 {
        font-size: 3em;  
    }
    p, li {
        font-size: 1.1em;
        width: 80%;
        line-height: 1.4em;
        font-weight: 100;   
    }
    .banner h3 {
        text-transform: uppercase;
        width: 15%;
        font-family: Register Serif BTN SC;
        font-size: 1em;
        font-style: narrow;
        color: #AB681E;
        float: right;
        padding-right: 600px;
        color: #666666; 
    }
    .mainSec p {
        width: 800px;
        float: right;
    }

    .mainSec span {
        text-transform: uppercase;
        color: #AB681E;
        font-weight: 800;
    }
    .mainSec p {
        color: #666666;
    }
    .nutrients {
        width: 800px;
        float: right;
    }
    .nutrients {
        text-transform: uppercase;
        color: red;
        font-weight: 8px;
    }
    .nutrients p {
        padding-left: 20px;
        color: red;
    }
    .table {
        width: 80%;
        float: right;
    }
    .table {
        width: 95%;
        text-transform: uppercase;
        color: red;
        float: left;
        font-weight: 900;
    }
    .table  {
        padding-right: 50px;
        color: #666666;
        border-top: 2px dashed #756B61;
    }
    aside span {
        color: #FF9B2E;
        font-style: narrow;        
    }
    aside p {
        text-transform: uppercase;  
    }
