*
{
    box-sizing: border-box;
}

/*
    Layout - Page Elements
 */

.page-container
{
    width: 100%;
    max-width: 960px;
    
    margin: 50px auto;
}

.page-header
{
    padding: 10px;

    background: rgba(0,0,0,0.25);
}

.page-content
{
    margin: 10px 0;

    overflow: hidden;
}

/*
    Layout - Columns
 */

.column
{
    float: left;

    margin: 10px 0;
    margin-right: 1%;
}

.column:last-child
{
    margin-right: 0;
}

.column-left
{
    width: 10%;
}

.column-right
{
    width: 24%; /* accounts for 1px borders*/
}

.column-middle
{
    width: 64%; /* accounts for 1px borders*/
}

/*
    Content
 */

.blue-box,
.green-box,
.red-box
{
    width: auto;
    margin: 0 0 10px;
}

.blue-box:last-child,
.green-box:last-child,
.red-box:last-child
{
    margin-bottom: 0;
}


/* Smartphones (portrait and landscape) ----------- */
@media all and (max-width: 480px) {
/* Styles */

    body
    {
        margin: 0;
    }

    .page-container
    {
        margin: 0;
    }

    .column-left,
    .column-middle,
    .column-right
    {
        float: none;
        width: auto;
        margin: 0 0 10px 0;
    }

}

/* iPads, Laptops (portrait and landscape) ----------- */
@media all and (max-width: 800px) and (min-width: 481px) {

    body
    {
        margin: 10px;
    }

    .page-container
    {
        margin: 0;
    }

    .column
    {
        margin: 10px 0;
    }

    .column-left
    {
        float: none;
        width: auto;
        margin: auto;
    }

    .column-right
    {
        float: right;
        width: 34%;
    }

}
