*{
	margin:0;
    padding:0;
}

html{
	font-family:'Open Sans', sans-serif;
}

body{
	font-size:14px;
}

header{
	background:url('../images/pineapples.jpg') no-repeat center center;
	width:100%;
    min-height:800px;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    line-height:800px;
}

h1{
	font-weight:800;
	text-transform:uppercase;
}

h2{
	font-weight:700;
	font-size:1.5em;
}

h3{
	font-weight:600;
	font-size:1.2em;
}

h4{
	font-weight:700;
	font-size:1.2em;
	margin-bottom:20px;
}

h5{
	font-weight:600;
	margin-top:10px;
	margin-bottom:10px;
}

hr{
	border: 0;
    height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

aside{
	float:left;
	width:25%;
	padding:10px;
	margin-left:80px;
}

a{
	color:#FFCC00;
	font-style:normal;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:0.8em;
}

a:hover{
	color:#000;
}

article{
	padding-top:20px;
	padding-bottom:20px;
}

article ul{
	list-style:square;
	padding:-10px;
	margin-left:10px;
}

article ul li{
	margin-left:20px;
}

nav{
	width:100%;
	font-weight:800;
	font-size:1.2em;
	text-transform:uppercase;
	padding-top:20px;
	padding-bottom:100px;
}

nav a{
	color:#000;
	text-decoration:none;
	font-size:1em;
}

nav a:hover{
	color:#FFCC00;
}

nav ul{
	text-align:center;
}

nav ul li{
	display:inline-block;
	padding-right:50px;
	padding-left:50px;
}

.title{
	font-size:4em;
	text-align:center;
    color:#FFCC00;
}

.heading{
	color:#FFCC00;
	font-size:2em;
	margin:0;
}

.main-content{
	float:right;
	width:60%;
	padding:10px;
	margin-right:80px;
}