*{
	margin:0;
    padding:0;
}

html{
	font-family:'Open Sans', sans-serif;
	color:#333333;
}

body{
	font-size:14px;
}

header{
	background:url('../images/pineapples.jpg') no-repeat center center;
	width:100%;
    min-height:800px;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    line-height:800px;
}

p{
	line-height:1.8em;
	margin-top:10px;
	font:100%/1.5 "Karla","lucida grande",sans-serif,sans-serif;font-weight:400;
}

h1{
	font-weight:800;
	text-transform:uppercase;
}

h2{
	font-weight:700;
	font-size:1.5em;
}

h3{
	font-weight:600;
	font-size:1.2em;
}

h4{
	font-weight:700;
	font-size:1.2em;
	margin-bottom:20px;
}

h5{
	font-weight:600;
	margin-top:10px;
	margin-bottom:10px;
}

hr{
	border: 0;
    height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

aside{
	float: left;
	width: 23%;
	padding: 10px;
	margin-left: 80px;
	box-sizing: border-box;
}

a{
	color:#FFCC00;
	font-style:normal;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:0.8em;
	transition:all ease 0.4s;
}

aside a, section a, address a{
	font-weight:bold;
	text-decoration:none;
}

address{
	padding-top:10px;
	padding-bottom:10px;
}

aside hr{
	width: 90%;
	padding: 20px;
	text-align: center;
	margin: 30px 20px auto auto;
}

a:hover{
	color:#000;
}

article{
	padding-top:20px;
	padding-bottom:20px;
}

article ul{
	list-style:square;
	list-style-image: url('http://www.pixeljoint.com/files/icons/i_pineapple.png');
	margin-left:20px;
	font:100%/1.5 "Karla","lucida grande",sans-serif,sans-serif;font-weight:400;
}

article ul li{
	margin-left:20px;
}

article ul li ul{
	margin-left:20px;
	font-size:.8em;
}

nav{
	width:100%;
	font-weight:800;
	font-size:1.2em;
	text-transform:uppercase;
	padding-top:20px;
	padding-bottom:50px;
}

nav a{
	color:#000;
	text-decoration:none;
	font-size:1em;
}

nav a:hover{
	color:#FFCC00;
}

nav ul{
	text-align:center;
}

nav ul li{
	display:inline-block;
	padding-right:50px;
	padding-left:50px;
	box-sizing:border-box;
}

nav li{
	position:relative;
}

nav li ul{
    position: absolute;
    top: 100%;
    /*display:none;*/
    opacity:0;
    z-index: 1;
    transition: all .4s ease;
    text-align:left;
}
nav li:hover ul {
    /*display:block;*/
    opacity:1;
    z-index:2;
    background:#fff;
    transition:all .4s ease;
}
nav li ul li {
    float: left;
    width: 100%;
    padding-left:5px;
}

nav li ul li:hover{
	background-color:#f4f3f3;
	transition: all .4s ease;
}

nav li ul li:not(:last-child){
	border-bottom:1px #f4f3f3 solid;
}

nav li ul a{
	color:#ffcc00;
	text-align:left;
	font-size:0.8em;
}
nav li ul a:hover {
	color:#000;
    transition: all .4s ease;
}

.title{
	font-size:4em;
	text-align:center;
    color:#FFCC00;
}

.heading{
	color:#FFCC00;
	font-size:2em;
	margin:0;
}

.main-content{
	float:right;
	width:60%;
	padding:10px;
	margin-right:80px;
}

.entry-date{
	font-size:.8em;
	color:#ffcc00;
	text-transform:uppercase;
	font-weight:bold;
}

.midterm-container, .final-container{
	width:60%;
	margin-left: auto;
	margin-right: auto;
	margin-top:100px;
	margin-bottom:100px;
}

.final-entry-container{
	width:100%;
	display:block;
	margin:0 auto;
}

.final-entry{
    margin:8px;
    width:48%;
    float: left;
    padding: 0px;
    display: block;
    position: relative;  
    overflow: hidden;
}

@media only screen and (max-width:480px) {
	.final-entry{ width: 100%;}
}

.final-entry img{
    display:block;
}

.final-header, .midterm-container h2{
	text-align:left;
	font-weight:600;
	padding:20px 0px 20px 0px;
	text-transform:uppercase;
	display:block;
}

.midterm-container img{
	max-width:100%;
	border:1px lightgrey solid;
	margin-bottom:10px;
}

.final-container img{
	max-width:100%;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.img-desc{
	padding:40px;
	border:1px lightgrey solid;
}