.blue-box
{
    color: orange;
}

.blue-box-opacity
{
    opacity: 0.66;

    /*opacity: 1; solid */
    /*opacity: 0; transparent */
}

.blue-box-visibility
{
    visibility: hidden;
}

.blue-box-display
{
    display: none;
}

.blue-box-rgba
{
    background: rgba(0,0,255,0.66);
}

.blue-box-png
{
    opacity: 0.66;
    background: url('../images/0000ff1.png');
}

.blue-box-png-2
{
    background: url('../images/0000ff2.png');
}


.example-content
{
    display: block;
    max-width: 60%;
    height: auto;

}
