.bb-1 {
    position: relative;

    /* Shorthand*/
    /*-webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    /*animation: myfirst 5s;*/

    /* Longhand */
    /* Chrome, Safari, Opera */
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    
    /* Standard syntax */
    animation-name: myfirst;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   { background:red;      left:0px;   top:0px;    }
    25%  { background:yellow;   left:200px; top:0px;    }
    50%  { background:blue;     left:200px; top:200px;  }
    75%  { background:green;    left:0px;   top:200px;  }
    100% { background:red;      left:0px;   top:0px;    }
}

/* Standard syntax */
@keyframes myfirst {
    0%   { background:red;      left:0px;   top:0px;    }
    25%  { background:yellow;   left:200px; top:0px;    }
    50%  { background:blue;     left:200px; top:200px;  }
    75%  { background:green;    left:0px;   top:200px;  }
    100% { background:red;      left:0px;   top:0px;    }
}
