
body {
	background: black;
	color: #fff;	
	font-family:Helvetica;
}

.first-header {
	font-size: 200;
	text-align: center;
}

.second-header {
	font-size: 100;
	text-align: center;
}

.image{
	margin-left: 35%;

}
