

 */

/*
    Star selector selects every element
    It can be slightly inefficient

    Used for lightweight "Reset" Styles
 */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

<<<<<<< Updated upstream
html,
body {
    /*
        * Percentage Units in CSS get their value by referencing the parent element's value
     */
    height: 100%;
}

html {

}

body {

}

.box {
=======
html, 
body {
    /*
        * Percentage units in CSS get their value by referencing the parent elemenet. So if height 100% in body, that means that the height is 100% of height in the html tag.
 
    */
       height:100%;
}

.blue-box {
    /*Inline elements cannot accept height and width properties if they are empty
      Content informs the size of inline elements
    display: inline;  week 5,     
    * Positioning:
        * Absolute
        * Relative
        * Static - is the default position
        * Fixed - regardless of where you scroll in the page, Elements are positioned fixed in the view port
        *Float changes the behavior of the elements, and ovverrides the Display propertyx
        * Floated eements, Block, Inline, and In-line Block all become block

        *All positioning except Static respond to Top, Right, Bottom, Left properties

        Margin: auto; centers block elements with a defined width
        Auto margin centers block elements with a defined idth
    */
    position: absolute;
    margin: auto;
>>>>>>> Stashed changes
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

.blue-box {
        
    /*
        Positioning
        * Absolute
        * Relative
        * Static (Default)
        * Fixed
            * Elements are positioned fixed in the Viewport
        
        * All positioning except Static respond to 
          Top, Right, Bottom, Left properties
     */
    /*position: absolute;*/


    /*
        Floated elements, Block, Inline, and Inline-Block all become Block
        Float overrides the Display property
        TODO: Revisit to talk about collapsing elements;
     */
    float: left;

    /*
        * Inline elements cannot accept height and width properties if they are empty
        * Content informs the size of inline elements
     */
    /*display: inline;*/


    /*
        * Auto margin centers block elements with a defined width
     */
    /*margin: auto;*/

    background: blue;
}

.red-box {
    background: red;
}
