/*
    Parsed Top Down 
    Specificity
    Cascade


    General Selectors
    | |
    | |
    | |
     V
    Specific Selectors

 */

/*
    Star selector selects every element
    It can be slightly inefficient

    Used for lightweight "Reset" Styles
 */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

html, body {
	height: 100%;
	/* percentage units in css by referencing the parents units values 
		so if html is 50% then body will be 50% of html
	*/
	
}

html {
}

body {
}

.blue-box {
	/*  
		margin: auto - centers block elements with a defined width
	*/
	
	/*
		display: inline;
		
		Inline elements can not accept width and height elements if it is empty.
		Content inform the size of inline elements
	*/
	
	position: absolute;
	/*
		position: 
		absolute
		relative
		statis
		fixed
			elements are positioned fixed in the view point
			header in tumblr 
	
		all positioning except static respond to top right bottom left properties 
				
	*/
	
	
    margin: auto;
    height: 100px;
    width: 100px;
    background: blue;
}
