/*
    # CSS

    ## Parsed Top Down 
    ## Specificity
    ## Cascade

        General Selectors
        | |
        | |
        | |
         V
        Specific Selectors

    ## Parsing Tips
    
    ### Selectors with the same specificity that target the same DOM elements merge common properties. 
    #### Properties from selectors that come later win

    ## Ordering and Grouping Properties in CSS

        .selector {

          *** Positioning ***
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: 10;

          *** Display & Box Model ***
          display: inline-block;
          box-sizing: border-box;
          overflow: hidden;
          width: 100px; height: 100px;
          margin: 10px; padding: 10px;
          border: 10px solid #333;
          
          *** Text ***
          font-family: sans-serif;
          font-size: 16px;
          line-height: 1.4;
          text-align: right;

          *** Color ***
          background: #000;
          color: #fff
          
          *** Other, Hacks, Vendor Prefix Properties ***
          cursor: pointer;
          border-radius: 50%;
          transition:...;
          box-shadow:...;
        }

    ## Shorthand and Longhand Properties

    ### Short
      margin: 10px 10px 10px 10px;
  
    ### Long
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
    
    ### Different properties have different shorthand syntax
    ### Each property value is separated by spaces, parsed in a specific order
    ### Longhand properties don't need all values to work
    ### Longhand properties parsed AFTER shorthand values will override the whole thing. Like a RESET style. Empty values in shorthand are implied zeros or "unsets"

 */
