html {
	font-family: sans-serif;

}

#main {
  max-width: 600px;
  margin: 0 auto; 
}

.home {
    

}

.about {
	font-family: monospace;
	background: #cccccc;


}


.heading {
    color: #888;
    font-size: 100px;
    margin: 0;

}

.about .heading {
	color: #f00;
}