.blue-box-fixed
{
    position: fixed;
    top:50%; left: 50%;

    transform: translate(-50%, -50%);

    /* rest, bloc float and write stlyes for the recipe
    homework wrap the whole thing in a div
}