* 
{
    box-sizing: border-box;
    font-family: arial;
}

body
{ 
    margin: 40px;
}

.heading
{
    margin: 0 0 25px;
}

/*
    Buttons
 */

.btn
{
    padding: 10px;
    background: rgba(0,0,0,0.125);
    
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    
    outline: none;
    cursor: pointer;
}
.btn:active
{
    /* pseudo selectors are great */
    background: rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.25);
}

/*
    Image
 */

.img
{
    display: block;
    max-width: 50%;
    height: auto;
    margin: 10px 0;
    border-radius: 3px;
}


/*
    Tooltip Styles
 */


.tooltip {
    position: relative;
    display: inline-block;

    font-size: 11px;
    line-height: 26px;
    white-space: 

}

.tooltip:after {
    position: absolute;
    top: 100%; 
    left: 50%;

    content: '';
    display: block;
    
    height: 20px;

}





//takes it and puts it 100% down.














